*
{
    margin: 0;
    padding: 0;

    border: 0;
}
body
{
    min-width: 768px;
    min-height: 480px;

    background: #e6e6e6;
}
div
{
    display: block;
}

#center
{
    position: relative;

    width: 640px;
    height: 480px;
    margin: auto;

    background: transparent;
}

.greet
{
    position: absolute;
    z-index: 1;
    top: 64px;
    left: 48px;

    width: 512px;
    height: 224px;

    background: #e64e2e;
}
.smile_face_eye1
{
    position: absolute;
    top: 50px;
    left: 30px;

    width: 0;
    height: 0;

    color: white;
    border: 5px solid white;
}
.smile_face_eye2
{
    position: absolute;
    top: 85px;
    left: 30px;

    width: 0;
    height: 0;

    color: white;
    border: 5px solid white;
}

.smile_face_p
{
    font-family: Helvetica, 'Microsoft YaHei', Arial,sans-serif;
    font-size: 80px;
    font-weight: lighter;

    position: absolute;
    top: 30px;
    left: 55px;

    color: white;
}
.welcome_ch
{
    font-family: 'Arial Narrow';
    font-size: 32px;
    font-weight: lighter;

    position: absolute;
    top: 125px;
    left: 25px;

    color: rgba(231,227,228,.8);
}
.welcome_eng
{
    font-family: 'Times New Roman';
    font-size: 22px;
    font-weight: lighter;

    position: absolute;
    top: 170px;
    left: 25px;

    color: rgba(231,227,228,.6);
}
.red_triangle
{
    position: absolute;
    top: 288px;
    left: 80px;

    width: 0;
    height: 0;

    border-top: 48px solid #e64e2e;
    border-right: 48px solid transparent;
    border-bottom: 0 solid black;
    border-left: 0 solid black;
}
.grey_triangle
{
    position: absolute;
    top: 288px;
    left: 592px;

    width: 0;
    height: 0;

    border-top: 16px solid transparent;
    border-right: 0;
    border-bottom: 0;
    border-left: 16px solid #ccc;
}
.grey_oval
{
    position: absolute;
    z-index: -20;
    top: 360px;
    left: 100px;

    width: 400px;
    height: 20px;

    border-radius: 100px/50px;
    background: rgba(213,213,213,.2);
}
.red_background
{
    position: relative;
    top: 0;
    left: 340px;

    width: 600px;
    height: 70px;

    background: linear-gradient(to bottom left, rgba(251,217,215,.6), #e6e6e6);
}
.info
{
    position: absolute;
    z-index: 2;
    top: 96px;
    left: 176px;

    width: 352px;
    height: 208px;
    padding: 32px;

    background-color: #f2f2f2;
}
.user_name
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: lighter;

    float: left;

    color: #e64e2e;
}
.info_content
{
    position: absolute;
    top: 70px;
    left: 28px;

    float: left;

    margin-top: -8px;
}
.info_content_label
{
    font-size: 13px;

    float: left;
    clear: left;

    width: 56px;
    height: 32px;
    margin-top: 22px;

    text-align: right;
}

.clock
{
    font-family: Helvetica, Arial,sans-serif;
    font-size: 28px;
    font-weight: lighter;

    position: absolute;
    top: 30px;
    left: 80px;

    color: #ec6677;
}
/* the picture of usage*/
.info_content_usage
{
    position: relative;

    float: left;

    width: 280px;
    height: 32px;
    margin: 24px 0 0 16px;
    padding: 0;

    background: url(../image/usage_bg.gif) repeat-y;
}

.usage_mark
{
    font-family: Verdana,Geneva,sans-serif;
    font-size: 13px;

    position: absolute;
    top: -16px;
    right: -22px;

    list-style: none;

    color: #969696;
}
.usage_mark li
{
    float: left;

    margin-right: 38px;
}
.used_value
{
    float: left;

    width: 27px;
    max-width: 280px;
    height: 32px;

    background: #fbb03b;
}
.used_value_number
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;

    position: absolute;
    top: 2px;
    left: 4px;

    float: none;

    height: 28px;
    margin: 0;
    margin-left: 8px;
    padding: 0;

    color: #5c5c5c;
}
.first_stripe
{
    position: absolute;
    top: 0;
    right: 4px;

    width: 4px;
    height: 100%;

    background: #f2f2f2;
}
.second_stripe
{
    position: absolute;
    top: 0;
    right: 12px;

    width: 4px;
    height: 100%;

    background: #f2f2f2;
}

/*disconnect_button is in the bar*/
.bar
{
    position: absolute;
    z-index: 3;
    top: 304px;
    right: 32px;

    width: 208px;
    height: 80px;

    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.disconnect_button
{
    font: 18px;

    width: 174px;
    height: 46px;
    margin: 16px;

    cursor: pointer;

    border: #b2aabe solid 1px;
    background: rgb(195,190,207);
}

.disconnect_button:hover
{
    width: 174px;
    height: 46px;

    background: rgb(215,210,225);
}
.disconnect_ch
{
    font-size: 20px;

    position: absolute;
    top: 16px;
    left: 65px;

    color: rgb(51,80,93);
}
.disconnect_eng
{
    font-size: 18px;

    position: absolute;
    top: 40px;
    left: 60px;

    color: rgb(123,120,134);
}
/*icons*/
.icons
{
    position: absolute;
    top: 430px;
    right: 25px;

    list-style: none;
}
.icons li
{
    font-size: 11px;

    float: left;

    margin-right: 12px;
}
.icons a
{
    height: 16px;
    padding: 16px 0 0 26px;

    text-decoration: none;

    color: #ad3b23;
}
.icons a:hover
{
    text-decoration: underline;
}
#link_info
{
    background: url(../image/popup_info.gif) no-repeat 2px 2px;
}
#link_lib
{
    background: url(../image/popup_lib.gif) no-repeat 2px 2px;
}
#link_learn
{
    background: url(../image/popup_learn.gif) no-repeat 2px 2px;
}
#link_mail
{
    background: url(../image/popup_mail.gif) no-repeat 2px 2px;
}
