*
{
    margin: 0;
    padding: 0;

    border: 0;
}
body
{
    font-family: 'Microsoft YaHei', 'SimHei', 'Apple LiGothic Medium';

    min-width: 768px;
    min-height: 480px;

    background: #e6e6e6 url(../image/popup_bg.png) no-repeat top right;
}

div
{
    display: block;
}

button
{
    /*
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    display:inline-block;*/
    text-align: center;
}
.eng
{
    font-size: 13px;
}
#center
{
    position: relative;

    width: 640px;
    height: 480px;
    margin: auto;

    background: transparent;
}

.greet
{
    position: absolute;
    z-index: 1;
    top: 64px;
    left: 48px;

    width: 512px;
    height: 224px;

    background: #e64e2e;
}
.smile_face_colon
{
    font-size: 88px;

    position: absolute;
    top: 20px;
    left: 25px;

    color: white;
}

.smile_face_p
{
    font-size: 88px;

    position: absolute;
    top: 20px;
    left: 50px;

    color: white;
}
.welcome_ch
{
    font-family: 'Courier New';
    font-size: 30px;
    font-weight: lighter;

    position: absolute;
    top: 130px;
    left: 25px;

    color: #f2f2f2;

}
.welcome_eng
{
    font-family: 'Courier New';
    font-size: 22px;
    font-weight: lighter;

    position: absolute;
    top: 180px;
    left: 25px;

    color: #f2f2f2;


}
.red_triangle
{
    position: absolute;
    top: 288px;
    left: 80px;

    width: 0;
    height: 0;
    /*background: #ffffff;*/

    border-top: 48px solid #e64e2e;
    border-right: 48px solid transparent;
    border-bottom: 0 solid black;
    border-left: 0 solid black;
}
.grey_triangle
{
    position: absolute;
    top: 288px;
    left: 592px;

    width: 0;
    height: 0;

    border-top: 16px solid transparent;
    border-right: 0;
    border-bottom: 0;
    border-left: 16px solid #ccc;
}
.info
{
    position: absolute;
    z-index: 2;
    top: 96px;
    left: 176px;

    width: 352px;
    height: 208px;
    padding: 32px;

    background-color: #f2f2f2;
}
.user_name
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: lighter;

    float: left;

    color: #e64e2e;
    /*
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
}
.info_content
{
    position: absolute;
    top: 70px;
    left: 28px;

    float: left;

    margin-top: -8px;
}
.info_content_label
{
    font-size: 13px;

    float: left;
    clear: left;

    width: 56px;
    height: 32px;
    margin-top: 22px;

    text-align: right;
}

.clock
{
    font-family: Helvetica, Arial,sans-serif;
    font-size: 28px;
    font-weight: lighter;

    position: absolute;
    top: 30px;
    left: 80px;

    color: #ec6677;
}
/* the picture of usage*/
.info_content_usage
{
    position: relative;

    float: left;

    width: 280px;
    height: 32px;
    margin: 24px 0 0 16px;
    padding: 0;

    background: url(../image/usage_bg.gif) repeat-y;
}
.calibration
{
    font-family: Verdana,Geneva,sans-serif;
    font-size: 13px;

    position: absolute;
    top: -16px;
    right: -22px;

    list-style: none;

    color: #969696;
    /*
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;*/
}
.calibration li
{
    float: left;

    margin-right: 38px;
}
.used_value
{
    float: left;

    width: 27px;
    max-width: 280px;
    height: 32px;

    background: #fbb03b;
}
.used_value_number
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;

    position: absolute;
    top: 2px;
    left: 4px;

    float: none;

    height: 28px;
    margin: 0;
    margin-left: 8px;
    padding: 0;

    color: #5c5c5c;
}
.first_stripe
{
    position: absolute;
    top: 0;
    right: 4px;

    width: 4px;
    height: 100%;

    background: #f2f2f2;
}
.second_stripe
{
    position: absolute;
    top: 0;
    right: 12px;

    width: 4px;
    height: 100%;

    background: #f2f2f2;
}

/*disconnect_button is in the bar*/
.bar
{
    position: absolute;
    z-index: 3;
    top: 304px;
    right: 32px;

    width: 208px;
    height: 80px;

    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.disconnect_button
{
    font: 18px Arial;

    width: 174px;
    height: 46px;
    margin: 16px;

    border: #b2aabe solid 1px;
    background: #e6e6e6;
}
/*icons*/
.icons
{
    position: absolute;
    top: 420px;
    right: 50px;

    list-style: none;
}
.icons li
{
    float: left;

    margin-right: 10px;
}
.icons a
{
    height: 16px;
    padding: 16px 0 0 26px;

    text-decoration: none;

    color: #ad3b23;
}
#link_info
{
    background: url(../image/popup_info.gif) no-repeat 2px 2px;
}
#link_lib
{
    background: url(../image/popup_lib.gif) no-repeat 2px 2px;
}
#link_learn
{
    background: url(../image/popup_learn.gif) no-repeat 2px 2px;
}
#link_mail
{
    background: url(../image/popup_mail.gif) no-repeat 2px 2px;
}
